SUPABASE_URL=https://kppzjxxgdnqqvrqqpswx.supabase.co
SUPABASE_ANON_KEY=
WEATHER_API_PROVIDER=Open-Meteo
WEATHER_API_KEY=
WEATHER_LAT=-7.83552
WEATHER_LON=110.17035
WEATHER_TIMEZONE=Asia/Jakarta
FOURSQUARE_API_KEY=
